body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    margin: 50px;
    font-size: 50px;
    font-weight: lighter;
}
.head {
    display: inline-block;
    margin-left: 10%;
}
.head img {
    height: 80px;
    width: 80px;
    float: left;
    margin-top: 35px;
}
.head h1 {
    float: left;
    margin-left: 20px;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: white;
    border-top: solid 1px;
    border-bottom: solid 1px;
    height: 40px;
    width: 100%;
}

nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 0 50px;
    margin-left: 10%;
}

nav ul li a {
    color: black;
    font-size: 17px;
    text-transform: uppercase;
}

h2 {
    margin: 70px;
    margin-left: 11%;
}

#companyname {
    color: #E86F11;
}

.linje {
    margin-left: 10%;
    margin-right: 10%;
    border-top: solid 2px;
    border-color: #B75B15;
}

.infotekst {
    margin-left: 13%;
    margin-top: 15px;
    margin-right: 13%;
}

h3 {
    margin-left: 10%;
    margin-top: 50px;
}

footer p {
    margin-left: 10%;
}