body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    margin: 50px;
    font-size: 50px;
    font-weight: lighter;
    font-family: alternate-gothic-no-3-d, sans-serif;
}
.head {
    display: inline-block;
    margin-left: 10%;
}
.head img {
    height: 110px;
    width: auto;
    float: left;
    margin-top: 22px;
    margin-left: -9px;
}
.head h1 {
    float: left;
    margin-left: 20px;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: white;
    border-top: solid 1px;
    border-bottom: solid 1px;
    height: 40px;
    width: 100%;
}

nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 0 50px;
    margin-left: 10%;
    letter-spacing: 2px;
}

nav ul li a {
    color: black;
    font-size: 17px;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #BE5A0E;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
}

h2 {
    margin: 40px;
    margin-left: 10%;
    font-family: alternate-gothic-no-3-d, sans-serif;
    font-size: 3vw;
    width: 45%;
    font-weight: lighter;
    padding-right: 30px;
}

#companyname {
    color: #BE5A0E;
}

.linje {
    margin-left: 10%;
    width: 50%;
    border-top: solid 2px;
    border-color: #BE5A0E;
}

.linje2 {
    margin-left: 10%;
    margin-right: 10%;
    border-top: solid 1px;
    border-color: #BE5A0E;
}

.infotekst {
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 13%;
    font-family: alternate-gothic-no-3-d, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    width: 80%;
}

.infotekst2 {
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 13%;
    font-family: alternate-gothic-no-3-d, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    width: 80%;
}

.infotekst h4 {
    margin-top: 100px;
    font-family: alternate-gothic-no-3-d, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
}

.infotekst2 h4 {
    margin-top: 40px;
    font-family: alternate-gothic-no-3-d, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
}

.infotekst2 ul {
    margin: 20px;
    margin-left: 0;
}
.infotekst2 ul li {
    list-style-type: none;
    list-style-position: inside;
}
.infotekst2 ul li::before {
    content: "\2022";
    color: #BE5A0E;
    font-weight: bold;
    display: inline-block;
    width: 20px;
}

h3 {
    margin-left: 10%;
    margin-top: 100px;
    font-family: alternate-gothic-no-3-d, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
}
.events {
    margin-left: 9%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: alternate-gothic-no-3-d, sans-serif;
}


.event-img {
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.eventdate {
    border-bottom: #BE5A0E solid 1px;
    font-weight: bold;
    text-align: left;
}

.eventName {
    font-size: 20px;
    margin-top: 10px;
    font-weight: regular;
}

.year {
    float: right;
}


.eventicon {
    max-width: 27px;
    padding-right: 4px;
    margin-left: -5px;
}

.icontext {
    margin-top: 10px;
    font-family: alternate-gothic-no-3-d, sans-serif;
    font-weight: lighter;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td { 
    border-left: 15px solid white; 
}

footer {
    margin-top: 100px;
}

footer p {
    margin-left: 10%;
    margin-top: 400px;
    font-family: alternate-gothic-no-3-d, sans-serif;
}

.bilde {
    width: 35%;
    height: auto;
    position: absolute;
    right: 0%;
    margin-top: -8%;
    margin-right: 10%;
    padding-left: 10px;
    margin-bottom: 10px;
    display: block;
}

.footer-nav {
    background: white;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: rgb(180, 180, 180);
    height: 40px;
    width: 100%;
}

.footer-nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 0 50px;
    margin-left: 10%;
    letter-spacing: 2px;
}

.whowhere {
    color: #BE5A0E;
}

#followus {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: #BE5A0E solid 1px;
}

#lettericon {
    max-height: 50px;
    width: auto;
}

.footer-nav ul li a {
    color: black;
    font-size: 17px;
    text-transform: uppercase;
}

.footer-nav ul li a:hover {
    color: #BE5A0E;
    font-size: 17px;
    text-transform: uppercase;
}

.bottom {
    display: inline-block;
    margin-left: 10%;
}
.bottom img {
    height: 90px;
    width: auto;
    float: left;
    margin-top: 22px;
    margin-left: -9px;
}
.bottom h1 {
    float: left;
    margin-left: 20px;
    font-size: 40px;
}

.footer-content {
    float: right;
    margin-right: 20%;
    margin-top: 22px;
}

.footer-content a {
    text-decoration: underline;
    color: black;
}

@media screen and (max-width: 900px) {
    table, td, tr {
        display: block;
    }
    table td { 
        margin-bottom: 20px;
    }

    .h2 {
        font-size: 6vw;
    }
}